*{ /*selector universal*/
	margin:0;
	padding:0;
	list-style:none;
}

body{
	background-image: url(/adara/recursos/images/fondoCorazon.jpg);
}

#logoPequeño{
	border-radius: 10rem;
	border-width: 10px;
	width: 4rem;
}

.navLogoPequeño{
	height: 6rem;
}